# Everything that isn't actually relevant to running the bot.

.git
.github
images
scripts
.mypy_cache

.dockerignore
.gitignore
.pylintrc
Dockerfile
LICENSE
mypy.ini
README.md
requirements-dev.txt
variables.env
