# Everything that isn't actually relevant to running the bot.

# Any .dir or .file
.*

# Dirs
__pycache__
**/__pycache__
images
tests

# Files
*.pkl
Dockerfile
LICENSE
requirements-dev.txt
setup.cfg
variables.env
