[MASTER]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the number of processors available to use.
jobs=0


[BASIC]

# Ignore variable naming scheme for these.
good-names=ex,sqlitedb


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=bad-continuation,               # Black formatter does not agree
        missing-docstring,              # Not everything needs a docstring
        wrong-import-order,             # "import commands" should not be before "import discord"
        logging-fstring-interpolation,  # f-strings in log calls are fine
        logging-format-interpolation,   # ^
        too-many-return-statements,     # This doesn't matter


[VARIABLES]

# Argument names that match this expression will be ignored. Default to name with leading underscore.
# Appended: Ignore args and kwargs arguments
ignored-argument-names=_.*|^ignored_|^unused_|args|kwargs


[FORMAT]

max-line-length=88  # Black formatter uses 88
