<!doctype html>

<html lang="en">

    <head>

        <link rel="stylesheet" href="{{url_for('static', filename='css/mainStyle.css')}}">
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <title>SpaceX-Launch-Bot</title>

        <meta charset="utf-8">
        <meta name="description" content="A bot for Discord">
        <meta name="author" content="@thatguywiththatname">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

    </head>

    <body>

        <h1 id="title">SpaceX-Launch-Bot</h1>

        <img class="circular_image" src="{{botAvatarURL}}"/>

        <div id="stats">
            <h2>Running in {{numServers}} servers</h2>
            <h2>With {{subbedChannelCount}} subscribed channels</h2>
        </div>

        <br/>

        <button type="button" onclick="goToInviteLink()">Server Invite</button> 
        
    </body>

</html>