<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SpaceX-Launch-Bot Dashboard</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Have to be done in this order to work, hence the 3 script tags -->
        <script type="text/javascript">var netdataTheme = "slate";</script>
        <script type="text/javascript" src="http://netdata.spacex-launch-bot.gq/dashboard.js"></script>
        <script type="text/javascript">
            // Always update the charts, even if focus is lost
            NETDATA.options.current.stop_updates_when_focus_is_lost = false;
        </script>

        <link rel="stylesheet" href="{{url_for('static', filename='css/tableStyle.css')}}">

        <script type="text/javascript" src="{{url_for('static', filename='js/tableFixer.js')}}"></script>

    </head>

    <body onload="fixTable();">

        <div id="leftSection">
            <!-- Ratio of gauge width to easypiechart width is 5:3 to acheive the same height -->
            <div data-netdata="system.cpu" data-title="CPU Usage"
            data-chart-library="gauge" data-width="31.25%" data-units="%"
            data-after="-60" data-points="60" data-gauge-max-value="100"></div>
            <div data-netdata="system.ram" data-title="RAM Usage"
            data-chart-library="easypiechart" data-width="18.75%" data-units="%"
            data-after="-60" data-points="60" data-append-options="percentage"
            data-dimensions="used|buffers|active|wired"
            data-easypiechart-max-value="100"></div>
            <div data-netdata="system.io" data-title="Disk Read"
            data-dimensions="in" data-chart-library="easypiechart"
            data-width="18.75%" data-units="kilobytes/s" data-after="-1800"
            data-points="1800"></div>
            <div data-netdata="system.io" data-title="Disk Write"
            data-chart-library="easypiechart" data-dimensions="out"
            data-width="18.75%" data-units="kilobytes/s" data-after="-1800"
            data-points="1800"></div>
            <div data-netdata="system.load" data-title="System load" data-chart-library="dygraph" data-height="180px" data-width="100%" data-after="-1800"></div>
            <br/><br/>
            <div data-netdata="system.net" data-title="Network interface usage" data-chart-library="dygraph" data-height="180px" data-width="100%" data-after="-1800"></div>
            <br/><br/>
            <div data-netdata="fail2ban.jails_in_jail" data-title="fail2ban jailed" data-chart-library="dygraph" data-height="180px" data-width="100%" data-after="-1800"></div>
        </div>

        <div id="rightSection">
            <!--
                TODO:
                Make table expand to fit the correct height
                Make table scroll down automatically on page load
                Dynamically update table?
            -->
            <div id="logTableContainer">
                <h2 id="tableTitle">SpaceX-Launch-Bot Log</h2>
                <table id="logTable">
                    <thead id="logTableHead">
                        <tr>
                            <th class="t-time">Time</th>
                            <th class="t-level">Level</th>
                            <th class="t-route">Route</th>
                            <th class="t-message">Message</th>
                        </tr>
                    </thead>
                    <tbody id="logTableBody">
                        {% for entry in logEntries %}
                        <tr class="{{entry.level.lower()}}">
                            <td class="t-time">{{entry.time}}</td>
                            <td class="t-level">{{entry.level}}</td>
                            <td class="t-route">{{entry.route}}</td>
                            <td class="t-message">{{entry.message}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </body>

</html>