[Unit]
Description=SpaceX-Launch-Bot information web server
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
# Service stuff
User=YOUR-USERNAME
Group=www-data
WorkingDirectory=/home/YOUR-USERNAME/files/SpaceX-Launch-Bot/infoWebServer
ExecStart=/usr/local/bin/uwsgi --ini infoWebServer.ini
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target