[Unit]
Description=SpaceX-Launch-Bot information web server
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
# Service stuff
User=SLB
Group=www-data
WorkingDirectory=/opt/SpaceX-Launch-Bot/webServer
ExecStart=/usr/local/bin/uwsgi --ini webServer.ini
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target