[Unit]
Description=SpaceX-Launch-Bot Service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Environment="SpaceXLaunchBotToken=DISCORD-TOKEN" "dblToken=DBL-TOKEN"
User=SLB
Type=idle
WorkingDirectory=/opt/SpaceX-Launch-Bot/source
# -u otherwise journal wont show print() output
ExecStart=/usr/bin/python3 -u main.py
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target