[Unit]
Description=SpaceXLaunchBot Service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Environment="slb_discord_token=DISCORD_TOKEN" "slb_dbl_token=DBL_TOKEN"
User=spacexlaunchbot
Type=idle
WorkingDirectory=/opt/SpaceXLaunchBot/source
# -u otherwise journal wont show stdout output
ExecStart=/usr/bin/python3 -u main.py
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target