<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>SpaceX-Launch-Bot Log</title>
<table class="responsive-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Level</th>
      <th>Route</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
      {% for entry in logEntries %}
        {% if entry.level == "CRITICAL" %}
        <tr class="critical">
        {% elif entry.level == "ERROR" %}
        <tr class="error">
        {% elif entry.level == "WARNING" %}
        <tr class="warning">
        {% else %}
        <tr>
        {% endif %}
          <td>{{entry.time}}</td>
          <td>{{entry.level}}</td>
          <td>{{entry.route}}</td>
          <td>{{entry.message}}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>