@font-face {
    font-family: "Whitney-Medium";
    /* Font loaded relative to this file */
    src: url("../font/Whitney-Medium.ttf") format("truetype");
}

body {
    background: #1F2023;
    color: #fff;
    font-family: "Whitney-Medium";
    text-align: center
}

.circular_image {
    border-radius: 50%;
}

#title {
    font-size: 3em;
}
