#logTableContainer {
    position: absolute;
    display: inline;
    height: 100%;
    width: 65%;
    padding-left: 30px;
}
#logTableHead, #logTableBody {
    display: block;
}
#logTable {
    display: block;
    height: 100%;
}
#logTableBody {
    position: relative;
    overflow: auto;
    height: 100%;
}

.t-time {position: relative; width: 8em; padding: 10px}
.t-level {position: relative; width: 5em; padding: 10px}
.t-route {position: relative; width: 21em; padding: 10px}
.t-message {position: relative; padding: 10px}

.critical {background-color: darkred;}
.error {background-color: darkred;}
.warning {background-color: darkslategrey;}
